# fly.toml app configuration file generated for antigravity-fallback on 2025-12-10T01:23:28+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'antigravity-fallback'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile.fallback'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
